### Reimportando os dados

In [23]:
import pandas as pd
from datetime import datetime, timedelta
import shutil
from os import remove

In [24]:
colunas = ['Dia', 'Hora','HBV','15 min','01 h','04 h','24 h','96 h']
meses = pd.read_fwf(r'D:\Estudo\Oficina de Pesquisa\Teste\anchi_fev_1997.txt', names = colunas, sep ="/t")

In [25]:
meses

             Dia      Hora  HBV 15 min 01 h 04 h  24 h  96 h
0     01/02/1997  00:08:40  HBV    0.0  0.0  1.7  30.3  30.3
1     01/02/1997  00:23:40  HBV    0.0  0.0  1.2  30.3  30.3
2     01/02/1997  00:38:40  HBV    0.0  0.0  1.2  30.3  30.3
3     01/02/1997  00:53:40  HBV    0.0  0.0  0.7  30.3  30.3
4     01/02/1997  01:08:40  HBV    0.0  0.0  0.2  30.3  30.3
...          ...       ...  ...    ...  ...  ...   ...   ...
5663  31/03/1997  22:53:40  NaN    0.0  0.2  0.6   0.8   0.8
5664  31/03/1997  23:08:40  NaN    0.2  0.4  0.6   1.0   1.0
5665  31/03/1997  23:23:40  NaN    0.0  0.4  0.6   1.0   1.0
5666  31/03/1997  23:38:40  NaN    0.0  0.2  0.6   1.0   1.0
5667  31/03/1997  23:53:40  NaN    0.0  0.2  0.6   1.0   1.0

[5668 rows x 8 columns]

#  Criando Fevereiro 31 dias

In [26]:
hora = timedelta(hours=1)

for i in range(0,meses.shape[0]):
    if meses.HBV[i] == "HBV":
        data_hbv = datetime.strptime(meses.Dia[i]+" "+meses.Hora[i],"%d/%m/%Y %H:%M:%S")
        correcao = data_hbv - hora
        data_corrigida = datetime.strftime(correcao,"%d/%m/%Y %H:%M:%S")
        dia, horario = data_corrigida.split()
        meses.iat[i,0] = dia
        meses.iat[i,1] = horario

In [27]:
meses

             Dia      Hora  HBV 15 min 01 h 04 h  24 h  96 h
0     31/01/1997  23:08:40  HBV    0.0  0.0  1.7  30.3  30.3
1     31/01/1997  23:23:40  HBV    0.0  0.0  1.2  30.3  30.3
2     31/01/1997  23:38:40  HBV    0.0  0.0  1.2  30.3  30.3
3     31/01/1997  23:53:40  HBV    0.0  0.0  0.7  30.3  30.3
4     01/02/1997  00:08:40  HBV    0.0  0.0  0.2  30.3  30.3
...          ...       ...  ...    ...  ...  ...   ...   ...
5663  31/03/1997  22:53:40  NaN    0.0  0.2  0.6   0.8   0.8
5664  31/03/1997  23:08:40  NaN    0.2  0.4  0.6   1.0   1.0
5665  31/03/1997  23:23:40  NaN    0.0  0.4  0.6   1.0   1.0
5666  31/03/1997  23:38:40  NaN    0.0  0.2  0.6   1.0   1.0
5667  31/03/1997  23:53:40  NaN    0.0  0.2  0.6   1.0   1.0

[5668 rows x 8 columns]

In [28]:
# Efetivamente 
fev31 = meses.loc[0:2979]

In [29]:
fev31

             Dia      Hora  HBV 15 min 01 h 04 h  24 h  96 h
0     31/01/1997  23:08:40  HBV    0.0  0.0  1.7  30.3  30.3
1     31/01/1997  23:23:40  HBV    0.0  0.0  1.2  30.3  30.3
2     31/01/1997  23:38:40  HBV    0.0  0.0  1.2  30.3  30.3
3     31/01/1997  23:53:40  HBV    0.0  0.0  0.7  30.3  30.3
4     01/02/1997  00:08:40  HBV    0.0  0.0  0.2  30.3  30.3
...          ...       ...  ...    ...  ...  ...   ...   ...
2975  03/03/1997  22:53:40  NaN    4.7  5.2  5.2  16.2  19.1
2976  03/03/1997  23:08:40  NaN    1.5  6.7  6.7  17.7  20.6
2977  03/03/1997  23:23:40  NaN    9.1  5.8  5.8  26.8  29.7
2978  03/03/1997  23:38:40  NaN    1.7  7.0  7.5  28.5  31.4
2979  03/03/1997  23:53:40  NaN    1.2  3.5  8.7  29.7  32.6

[2980 rows x 8 columns]

In [30]:
fev31.to_csv(r'D:\Estudo\Oficina de Pesquisa\Teste\Anchieta\anchi_fev31_1997.csv', index = False, sep = "\t")
shutil.copy(r'D:\Estudo\Oficina de Pesquisa\Teste\Anchieta\anchi_fev31_1997.csv',r'D:\Estudo\Oficina de Pesquisa\Teste\Anchieta\anchi_fev31_1997.txt')
remove(r'D:\Estudo\Oficina de Pesquisa\Teste\Anchieta\anchi_fev31_1997.csv')
#remove(r'D:\Estudo\Oficina de Pesquisa\Teste\anchi_fev_1997.txt')